## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN'])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df['NAME'].value_counts()
counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
names_to_replace = list(counts[counts < 5].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name, "Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
counts1 = application_df['APPLICATION_TYPE'].value_counts()
counts1

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts_binning = application_df['CLASSIFICATION'].value_counts()

counts_classification = counts_binning[counts_binning > 1]
counts_classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(counts_binning[counts_binning < 100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype = float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop('IS_SUCCESSFUL', axis = 1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 1

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer1, input_dim = number_input_features, activation = 'relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer2, activation = 'relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                36880

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 39,341
Trainable params: 39,341
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, validation_split = 0.15, epochs = 100)

Epoch 1/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4809 - accuracy: 0.7721 - val_loss: 0.4284 - val_accuracy: 0.8049
Epoch 2/100
684/684 [==============================] - 1s 943us/step - loss: 0.4305 - accuracy: 0.7952 - val_loss: 0.4233 - val_accuracy: 0.8041
Epoch 3/100
684/684 [==============================] - 1s 957us/step - loss: 0.4240 - accuracy: 0.7971 - val_loss: 0.4292 - val_accuracy: 0.8031
Epoch 4/100
684/684 [==============================] - 1s 953us/step - loss: 0.4222 - accuracy: 0.7986 - val_loss: 0.4289 - val_accuracy: 0.7971
Epoch 5/100
684/684 [==============================] - 1s 939us/step - loss: 0.4204 - accuracy: 0.7983 - val_loss: 0.4279 - val_accuracy: 0.8025
Epoch 6/100
684/684 [==============================] - 1s 954us/step - loss: 0.4188 - accuracy: 0.7996 - val_loss: 0.4271 - val_accuracy: 0.8038
Epoch 7/100
684/684 [==============================] - 1s 943us/step - loss: 0.4175 - accuracy: 0.7986 - val_loss: 0.4284 - val_accuracy: 0.8062
Epoch 8/100
684/684 [==============================] - 1s 928us/step - loss: 0.4162 - accuracy: 0.8021 - val_loss: 0.4272 - val_accuracy: 0.8033
Epoch 9/100
684/684 [==============================] - 1s 961us/step - loss: 0.4152 - accuracy: 0.8009 - val_loss: 0.4290 - val_accuracy: 0.8033
Epoch 10/100
684/684 [==============================] - 1s 955us/step - loss: 0.4145 - accuracy: 0.8012 - val_loss: 0.4307 - val_accuracy: 0.8038
Epoch 11/100
684/684 [==============================] - 1s 926us/step - loss: 0.4139 - accuracy: 0.8032 - val_loss: 0.4310 - val_accuracy: 0.8033
Epoch 12/100
684/684 [==============================] - 1s 981us/step - loss: 0.4128 - accuracy: 0.8031 - val_loss: 0.4350 - val_accuracy: 0.8028
Epoch 13/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4130 - accuracy: 0.8022 - val_loss: 0.4332 - val_accuracy: 0.8025
Epoch 14/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4121 - accuracy: 0.8038 - val_loss: 0.4336 - val_accuracy: 0.8041
Epoch 15/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4110 - accuracy: 0.8034 - val_loss: 0.4371 - val_accuracy: 0.8036
Epoch 16/100
684/684 [==============================] - 1s 961us/step - loss: 0.4109 - accuracy: 0.8024 - val_loss: 0.4374 - val_accuracy: 0.7999
Epoch 17/100
684/684 [==============================] - 1s 943us/step - loss: 0.4098 - accuracy: 0.8033 - val_loss: 0.4376 - val_accuracy: 0.8023
Epoch 18/100
684/684 [==============================] - 1s 989us/step - loss: 0.4098 - accuracy: 0.8046 - val_loss: 0.4374 - val_accuracy: 0.8064
Epoch 19/100
684/684 [==============================] - 1s 964us/step - loss: 0.4091 - accuracy: 0.8055 - val_loss: 0.4370 - val_accuracy: 0.8025
Epoch 20/100
684/684 [==============================] - 1s 945us/step - loss: 0.4087 - accuracy: 0.8049 - val_loss: 0.4397 - val_accuracy: 0.8002
Epoch 21/100
684/684 [==============================] - 1s 990us/step - loss: 0.4082 - accuracy: 0.8052 - val_loss: 0.4437 - val_accuracy: 0.8023
Epoch 22/100
684/684 [==============================] - 1s 975us/step - loss: 0.4082 - accuracy: 0.8048 - val_loss: 0.4434 - val_accuracy: 0.7989
Epoch 23/100
684/684 [==============================] - 1s 959us/step - loss: 0.4078 - accuracy: 0.8056 - val_loss: 0.4420 - val_accuracy: 0.7976
Epoch 24/100
684/684 [==============================] - 1s 963us/step - loss: 0.4071 - accuracy: 0.8059 - val_loss: 0.4418 - val_accuracy: 0.8023
Epoch 25/100
684/684 [==============================] - 1s 956us/step - loss: 0.4069 - accuracy: 0.8056 - val_loss: 0.4417 - val_accuracy: 0.8020
Epoch 26/100
684/684 [==============================] - 1s 951us/step - loss: 0.4064 - accuracy: 0.8046 - val_loss: 0.4411 - val_accuracy: 0.8015
Epoch 27/100
684/684 [==============================] - 1s 971us/step - loss: 0.4056 - accuracy: 0.8059 - val_loss: 0.4429 - val_accuracy: 0.8038
Epoch 28/100
684/684 [==============================] - 1s 948us/step - loss: 0.4056 - accuracy: 0.8066 - val_loss: 0.4398 - val_accuracy: 0.8018
Epoch 29/100
684/684 [==============================] - 1s 940us/step - loss: 0.4049 - accuracy: 0.8066 - val_loss: 0.4456 - val_accuracy: 0.8056
Epoch 30/100
684/684 [==============================] - 1s 973us/step - loss: 0.4043 - accuracy: 0.8061 - val_loss: 0.4472 - val_accuracy: 0.7974
Epoch 31/100
684/684 [==============================] - 1s 960us/step - loss: 0.4044 - accuracy: 0.8067 - val_loss: 0.4439 - val_accuracy: 0.8028
Epoch 32/100
684/684 [==============================] - 1s 936us/step - loss: 0.4040 - accuracy: 0.8079 - val_loss: 0.4490 - val_accuracy: 0.7992
Epoch 33/100
684/684 [==============================] - 1s 982us/step - loss: 0.4035 - accuracy: 0.8070 - val_loss: 0.4475 - val_accuracy: 0.8036
Epoch 34/100
684/684 [==============================] - 1s 953us/step - loss: 0.4034 - accuracy: 0.8079 - val_loss: 0.4480 - val_accuracy: 0.8023
Epoch 35/100
684/684 [==============================] - 1s 964us/step - loss: 0.4032 - accuracy: 0.8086 - val_loss: 0.4455 - val_accuracy: 0.8015
Epoch 36/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4028 - accuracy: 0.8084 - val_loss: 0.4482 - val_accuracy: 0.8012
Epoch 37/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4023 - accuracy: 0.8085 - val_loss: 0.4463 - val_accuracy: 0.8025
Epoch 38/100
684/684 [==============================] - 1s 958us/step - loss: 0.4023 - accuracy: 0.8083 - val_loss: 0.4489 - val_accuracy: 0.8018
Epoch 39/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4017 - accuracy: 0.8084 - val_loss: 0.4491 - val_accuracy: 0.8023
Epoch 40/100
684/684 [==============================] - 1s 974us/step - loss: 0.4018 - accuracy: 0.8081 - val_loss: 0.4510 - val_accuracy: 0.8007
Epoch 41/100
684/684 [==============================] - 1s 982us/step - loss: 0.4011 - accuracy: 0.8087 - val_loss: 0.4497 - val_accuracy: 0.8012
Epoch 42/100
684/684 [==============================] - 1s 1ms/step - loss: 0.4012 - accuracy: 0.8082 - val_loss: 0.4497 - val_accuracy: 0.8036
Epoch 43/100
684/684 [==============================] - 1s 943us/step - loss: 0.4008 - accuracy: 0.8083 - val_loss: 0.4517 - val_accuracy: 0.8020
Epoch 44/100
684/684 [==============================] - 1s 926us/step - loss: 0.4011 - accuracy: 0.8086 - val_loss: 0.4500 - val_accuracy: 0.8036
Epoch 45/100
684/684 [==============================] - 1s 969us/step - loss: 0.4004 - accuracy: 0.8097 - val_loss: 0.4519 - val_accuracy: 0.8028
Epoch 46/100
684/684 [==============================] - 1s 951us/step - loss: 0.4001 - accuracy: 0.8088 - val_loss: 0.4516 - val_accuracy: 0.8012
Epoch 47/100
684/684 [==============================] - 1s 936us/step - loss: 0.3999 - accuracy: 0.8095 - val_loss: 0.4516 - val_accuracy: 0.8036
Epoch 48/100
684/684 [==============================] - 1s 974us/step - loss: 0.3993 - accuracy: 0.8095 - val_loss: 0.4522 - val_accuracy: 0.8012
Epoch 49/100
684/684 [==============================] - 1s 947us/step - loss: 0.3995 - accuracy: 0.8096 - val_loss: 0.4540 - val_accuracy: 0.8002
Epoch 50/100
684/684 [==============================] - 1s 925us/step - loss: 0.3988 - accuracy: 0.8096 - val_loss: 0.4532 - val_accuracy: 0.8005
Epoch 51/100
684/684 [==============================] - 1s 974us/step - loss: 0.3994 - accuracy: 0.8096 - val_loss: 0.4514 - val_accuracy: 0.8028
Epoch 52/100
684/684 [==============================] - 1s 956us/step - loss: 0.3990 - accuracy: 0.8107 - val_loss: 0.4553 - val_accuracy: 0.8025
Epoch 53/100
684/684 [==============================] - 1s 941us/step - loss: 0.3987 - accuracy: 0.8099 - val_loss: 0.4497 - val_accuracy: 0.8028
Epoch 54/100
684/684 [==============================] - 1s 973us/step - loss: 0.3987 - accuracy: 0.8103 - val_loss: 0.4589 - val_accuracy: 0.8012
Epoch 55/100
684/684 [==============================] - 1s 955us/step - loss: 0.3978 - accuracy: 0.8102 - val_loss: 0.4570 - val_accuracy: 0.8033
Epoch 56/100
684/684 [==============================] - 1s 991us/step - loss: 0.3993 - accuracy: 0.8104 - val_loss: 0.4496 - val_accuracy: 0.8023
Epoch 57/100

684/684 [==============================] - 1s 964us/step - loss: 0.3982 - accuracy: 0.8101 - val_loss: 0.4536 - val_accuracy: 0.8018
Epoch 58/100
684/684 [==============================] - 1s 940us/step - loss: 0.3979 - accuracy: 0.8098 - val_loss: 0.4533 - val_accuracy: 0.8036
Epoch 59/100
684/684 [==============================] - 1s 917us/step - loss: 0.3979 - accuracy: 0.8103 - val_loss: 0.4566 - val_accuracy: 0.8015
Epoch 60/100
684/684 [==============================] - 1s 956us/step - loss: 0.3977 - accuracy: 0.8103 - val_loss: 0.4537 - val_accuracy: 0.8046
Epoch 61/100
684/684 [==============================] - 1s 944us/step - loss: 0.3970 - accuracy: 0.8095 - val_loss: 0.4567 - val_accuracy: 0.8002
Epoch 62/100
684/684 [==============================] - 1s 920us/step - loss: 0.3981 - accuracy: 0.8104 - val_loss: 0.4545 - val_accuracy: 0.8020
Epoch 63/100
684/684 [==============================] - 1s 954us/step - loss: 0.3969 - accuracy: 0.8111 - val_loss: 0.4621 - val_accuracy: 0.8033
Epoch 64/100
684/684 [==============================] - 1s 944us/step - loss: 0.3974 - accuracy: 0.8096 - val_loss: 0.4583 - val_accuracy: 0.8010
Epoch 65/100
684/684 [==============================] - 1s 923us/step - loss: 0.3970 - accuracy: 0.8101 - val_loss: 0.4608 - val_accuracy: 0.8033
Epoch 66/100
684/684 [==============================] - 1s 945us/step - loss: 0.3967 - accuracy: 0.8107 - val_loss: 0.4633 - val_accuracy: 0.8002
Epoch 67/100
684/684 [==============================] - 1s 969us/step - loss: 0.3963 - accuracy: 0.8100 - val_loss: 0.4630 - val_accuracy: 0.8020
Epoch 68/100
684/684 [==============================] - 1s 923us/step - loss: 0.3967 - accuracy: 0.8105 - val_loss: 0.4576 - val_accuracy: 0.8031
Epoch 69/100
684/684 [==============================] - 1s 977us/step - loss: 0.3963 - accuracy: 0.8111 - val_loss: 0.4651 - val_accuracy: 0.8020
Epoch 70/100
684/684 [==============================] - 1s 977us/step - loss: 0.3959 - accuracy: 0.8117 - val_loss: 0.4595 - val_accuracy: 0.8025
Epoch 71/100
684/684 [==============================] - 1s 967us/step - loss: 0.3963 - accuracy: 0.8110 - val_loss: 0.4639 - val_accuracy: 0.8033
Epoch 72/100
684/684 [==============================] - 1s 942us/step - loss: 0.3959 - accuracy: 0.8112 - val_loss: 0.4607 - val_accuracy: 0.8007
Epoch 73/100
684/684 [==============================] - 1s 960us/step - loss: 0.3954 - accuracy: 0.8113 - val_loss: 0.4611 - val_accuracy: 0.8015
Epoch 74/100
684/684 [==============================] - 1s 971us/step - loss: 0.3955 - accuracy: 0.8115 - val_loss: 0.4671 - val_accuracy: 0.8028
Epoch 75/100
684/684 [==============================] - 1s 1ms/step - loss: 0.3957 - accuracy: 0.8112 - val_loss: 0.4587 - val_accuracy: 0.8010
Epoch 76/100
684/684 [==============================] - 1s 1ms/step - loss: 0.3954 - accuracy: 0.8112 - val_loss: 0.4598 - val_accuracy: 0.8038
Epoch 77/100
684/684 [==============================] - 1s 925us/step - loss: 0.3955 - accuracy: 0.8112 - val_loss: 0.4615 - val_accuracy: 0.8031
Epoch 78/100
684/684 [==============================] - 1s 931us/step - loss: 0.3955 - accuracy: 0.8116 - val_loss: 0.4647 - val_accuracy: 0.8028
Epoch 79/100
684/684 [==============================] - 1s 973us/step - loss: 0.3953 - accuracy: 0.8112 - val_loss: 0.4697 - val_accuracy: 0.8025
Epoch 80/100
684/684 [==============================] - 1s 959us/step - loss: 0.3954 - accuracy: 0.8112 - val_loss: 0.4628 - val_accuracy: 0.8015
Epoch 81/100
684/684 [==============================] - 1s 926us/step - loss: 0.3955 - accuracy: 0.8121 - val_loss: 0.4652 - val_accuracy: 0.7989
Epoch 82/100
684/684 [==============================] - 1s 932us/step - loss: 0.3961 - accuracy: 0.8112 - val_loss: 0.4589 - val_accuracy: 0.8028
Epoch 83/100
684/684 [==============================] - 1s 911us/step - loss: 0.3944 - accuracy: 0.8114 - val_loss: 0.4652 - val_accuracy: 0.8038
Epoch 84/100
684/684 [==============================] - 1s 935us/step - loss: 0.3943 - accuracy: 0.8115 - val_loss: 0.4716 - val_accuracy: 0.8020
Epoch 85/100
684/684 [==============================] - 1s 942us/step - loss: 0.3949 - accuracy: 0.8117 - val_loss: 0.4631 - val_accuracy: 0.8038
Epoch 86/100
684/684 [==============================] - 1s 917us/step - loss: 0.3952 - accuracy: 0.8113 - val_loss: 0.4658 - val_accuracy: 0.8020
Epoch 87/100
684/684 [==============================] - 1s 909us/step - loss: 0.3949 - accuracy: 0.8107 - val_loss: 0.4678 - val_accuracy: 0.8036
Epoch 88/100
684/684 [==============================] - 1s 930us/step - loss: 0.3943 - accuracy: 0.8116 - val_loss: 0.4654 - val_accuracy: 0.7987
Epoch 89/100
684/684 [==============================] - 1s 932us/step - loss: 0.3944 - accuracy: 0.8122 - val_loss: 0.4774 - val_accuracy: 0.7968
Epoch 90/100
684/684 [==============================] - 1s 911us/step - loss: 0.3947 - accuracy: 0.8113 - val_loss: 0.4701 - val_accuracy: 0.8012
Epoch 91/100
684/684 [==============================] - 1s 938us/step - loss: 0.3946 - accuracy: 0.8120 - val_loss: 0.4638 - val_accuracy: 0.8012
Epoch 92/100
684/684 [==============================] - 1s 979us/step - loss: 0.3941 - accuracy: 0.8112 - val_loss: 0.4643 - val_accuracy: 0.8046
Epoch 93/100
684/684 [==============================] - 1s 922us/step - loss: 0.3944 - accuracy: 0.8112 - val_loss: 0.4667 - val_accuracy: 0.8020
Epoch 94/100
684/684 [==============================] - 1s 938us/step - loss: 0.3941 - accuracy: 0.8119 - val_loss: 0.4649 - val_accuracy: 0.7992
Epoch 95/100
684/684 [==============================] - 1s 994us/step - loss: 0.3938 - accuracy: 0.8119 - val_loss: 0.4657 - val_accuracy: 0.8020
Epoch 96/100
684/684 [==============================] - 1s 923us/step - loss: 0.3945 - accuracy: 0.8118 - val_loss: 0.4657 - val_accuracy: 0.7971
Epoch 97/100
684/684 [==============================] - 1s 932us/step - loss: 0.3938 - accuracy: 0.8118 - val_loss: 0.4671 - val_accuracy: 0.8012
Epoch 98/100
684/684 [==============================] - 1s 940us/step - loss: 0.3943 - accuracy: 0.8126 - val_loss: 0.4678 - val_accuracy: 0.8031
Epoch 99/100
684/684 [==============================] - 1s 943us/step - loss: 0.3941 - accuracy: 0.8117 - val_loss: 0.4732 - val_accuracy: 0.8015
Epoch 100/100
684/684 [==============================] - 1s 981us/step - loss: 0.3938 - accuracy: 0.8112 - val_loss: 0.4690 - val_accuracy: 0.8023

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4895 - accuracy: 0.7867 - 157ms/epoch - 586us/step
Loss: 0.48945745825767517, Accuracy: 0.7867055535316467

In [18]:
# Export our model to HDF5 file
nn.save('Models/AlphabetSoupCharity.h5')